<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 注入事务的元数据 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="url" value="jdbc:mysql://10.0.88.8:3306/test_db"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="quoteServiceTarget" class="com.wenqi.tx.declaration.QuoteService">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="quoteServiceClient" class="com.wenqi.tx.declaration.QuoteServiceClient">
        <property name="quoteService" ref="quoteServiceTarget"/>
    </bean>

    <!-- 1. ProxyFactory（ProxyFactoryBean）+ TransactionInterceptor -->
    <bean id="quoteService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="quoteServiceTarget"/>
        <property name="proxyInterfaces" value="com.wenqi.tx.declaration.IQuoteService"/>
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>

    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="getQuote">PROPAGATION_SUPPORTS,readOnly,timeout_20</prop>
                <prop key="saveQuote">PROPAGATION_REQUIRED</prop>
                <prop key="updateQuote">PROPAGATION_REQUIRED</prop>
                <prop key="deleteQuote">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!-- 2. 一站式的TransactionProxyFactoryBean -->
    <bean id="quoteService2" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="quoteServiceTarget"/>
        <property name="proxyInterfaces" value="com.wenqi.tx.declaration.IQuoteService"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="getQuote">PROPAGATION_SUPPORTS,readOnly,timeout_20</prop>
                <prop key="saveQuote">PROPAGATION_REQUIRED</prop>
                <prop key="updateQuote">PROPAGATION_REQUIRED</prop>
                <prop key="deleteQuote">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!-- 3. BeanNameAutoProxyCreator -->
    <bean id="autoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <idref bean="quoteServiceTarget"/>
            </list>
        </property>
    </bean>
    
    <!-- 4. 使用声明事务配置方式 -->
    <aop:config>
        <aop:pointcut id="txServices" expression="execution(* com.wenqi.tx.declaration.IQuoteService.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txServices"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="getQuote" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="saveQuote"/>
            <tx:method name="updateQuote"/>
            <tx:method name="deleteQuote"/>
        </tx:attributes>
    </tx:advice>


</beans>