<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Servlet定义 -->
    <servlet>
        <servlet-name>MockMagicServlet</servlet-name>
        <servlet-class>com.wenqi.mvc.servlet.MockMagicServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MockMagicServlet2</servlet-name>
        <servlet-class>com.wenqi.mvc.servlet.MockMagicServlet2</servlet-class>
    </servlet>

    <!-- 映射关系定义 -->
    <servlet-mapping>
        <servlet-name>MockMagicServlet</servlet-name>
        <url-pattern>/path1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MockMagicServlet2</servlet-name>
        <url-pattern>/path2</url-pattern>
    </servlet-mapping>

</web-app>