<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-autowire="byType">

    <bean id="newsProvider" class="com.wenqi.springioc.applicationcontext.extend.autowire.FXNewsProvider"
          autowire="byType"/>
    <bean id="djNewsListener" class="com.wenqi.springioc.instance.impl.DowJonesNewsListener"/>
    <bean id="djNewsPersister" class="com.wenqi.springioc.instance.impl.DowJonesNewsPersister"/>

    <!-- 声明该bean, @Autowire才生效 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!-- 声明该bean, @Resource才生效 -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <!-- 注解自动生效 -->
    <context:annotation-config/>

</beans>